<!DOCTYPE html>
<html  lang="pt-br" ng-app="myApp">
    <head>
        <meta charset="UTF-8" />
        <title>Correlação</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>
    <body>
        <header id="cabecalho">
            <img src="imagens/logo.png" width=50>
            <hgroup>
                <h1>Business Hawk</h1>
                <h2>Beta Version</h2>
                
            </hgroup>

            <nav id="menu">
                <h1>Menu principal</h1>
                <ul>   
                    <li><a href="/analise">Estatistica Descritiva</a></li>
                    <li><a href="/probabilidade">Probabilidade</a></li>
                    <li><a href="/correlacao">Correlação e Regrassão</a></li>
                </ul>
            </nav>
        </header>

        <button type="button" onclick="invisivel('1')">Distribuição Uniforme</button>
        <button type="button" onclick="invisivel('2')">Distribuição Binômial</button>
        <button type="button" onclick="invisivel('3')">Distribuição Normal</button>

        <div id="uniforme" style="display: none;" ng-controller="myCtrl1">
            <h2>Distribuição Uniforme</h2>
            valor Mínimo : <input type="number" ng-model="a">
            valor Máximo: <input type="number" ng-model="b">
            <p><b>Média:</b> {{(a+b)/2}}</p>
            <p><b>Desvio Padrão:</b>{{desvio()}}</p>

            mais que :<input type="number" ng-model="maior">
            <p><b>Probabilidade:</b> {{(b-a)==0 ? 0 : ((1/(b-a))*(b-maior)*100).toFixed(2)}}%</p><br/>
            menos que :<input type="number" ng-model="menor">
            <p><b>Probabilidade:</b>{{(b-a)==0 ? 0 : ((1/(b-a))*(menor-a)*100).toFixed(2)}}%</p><br/>
            entre : <input type="number" ng-model="menorEnt">
                    <input type="number" ng-model="maiorEnt">

            <p><b>Probabilidade:</b>{{(b-a)==0 ? 0 : ((1/(b-a))*(maiorEnt-menorEnt)*100).toFixed(2)}}% </p>

        </div>

        <div id="binomial" style="display: none;" ng-controller="myCtrl2">
            <h2>Distribuição Binômial</h2>
            Quantidade : <input type="number" ng-model="n"><br/>
            probabilidade sucesso: <input type="number" ng-model="p"> %<br/>
            probabilidade fracasso: <input type="number" ng-model="q"> %<br/>
            Probabilidade : <input type="number" ng-model="k"><br/>
            <p><b>Resultado: </b>{{binomial()}} %</p> 
        </div>  

        <div id="normal" style="display: none;" ng-controller="myCtrl3">

            <h2>Distribuição Normal</h2>
            Média : <input type="number" ng-model="med"><br/>
            Desvio Padrão: <input type="number" ng-model="dp"> %<br/>

            mais que :<input type="number" ng-model="maior">
            <p><b>Probabilidade:</b> {{ probabilidade1(maior)}}%</p><br/>
            menos que :<input type="number" ng-model="menor">
            <p><b>Probabilidade:</b>{{probabilidade1((-1)*menor)}}%</p><br/>
            entre : <input type="number" ng-model="menorEnt">
                    <input type="number" ng-model="maiorEnt">
            <p><b>Resultado: </b>{{probabilidade2(menorEnt,maiorEnt)}} %</p> 
        </div> 
        <script type="text/javascript" src="js/calculadora.js"></script>
        <script type="text/javascript" src="js/funcoesCalculadora.js"></script>
    </body>
</html>