<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="imagens/favicon.ico" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />

    <title>Business Hawk - Solução em BI</title>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light justify-content-between header">
        <div class="navbar-brand">
            <a href="/"><img src="imagens/header.png" height=35></a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation"
            style="background-color: #e9e9e9">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <button onclick="document.getElementById('id01').style.display='block'" class="headbutton">Login</button>
            <button onclick="document.getElementById('id02').style.display='block'" class="headbutton">Cadastro</button>
        </div>
    </nav>

    <!-- video de fundo -->
    <div class="fluid videolindo">
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" style="width: 100%">
            <source src="video/video_placeholder.mp4" type="video/mp4">
        </video>

        <div class="logomeio">
            <img src="imagens/logo.png" width="60%" style="padding-bottom:10px">
            <h1>Business Hawk - Solução em BI</h1>
        </div>

    </div>

    <div class="container fluid" id="slide-01">
        <div class="row">
            <div class="col-lg">
                <img class="img-cartao" src="/imagens/laptop_02.png">
            </div>
            <div class="col">
                <div class="row">
                    <h1>INTUITIVO</h1>
                </div>
                <div class="row">
                    <p>
                        O Business Hawk é um sistema fácil e prático para você que deseja ter uma experiência
                        descomplicada.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container d-flex fluid" id="slide-02">
        <div class="row">
            <div class="col-lg order-lg-12">
                <img class="img-cartao" src="/imagens/grafico_02.png">
            </div>
            <div class="col">
                <div class="row-lg-3">
                    <h1>PRECISO</h1>
                </div>
                <div class="row-lg-9 fluid">
                    <p>
                        Nosso sistema realiza análises estatísticas de maneira precisa, ideal para seus negócios.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container d-flex fluid" id="slide-03">
        <div class="row">
            <div class="col-lg">
                <img class="img-cartao" src="/imagens/baby_01.png">
            </div>
            <div class="col">
                <div class="row">
                    <h1>GRATUITO</h1>
                </div>
                <div class="row">
                    <p>
                        Nosso sistema realiza análises estatísticas de maneira precisa, ideal para seus negócios.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Login Modal -->
    <div id="id01" class="w3-modal">
        <div class="w3-modal-content" style="width: 75% !important; max-width: 450px; height:450px;">
            <div class="w3-container">
                <span onclick="document.getElementById('id01').style.display='none'"
                    class="w3-button w3-display-topright">&times;</span>
                <center>
                    <div style=" margin-top: 30px;">
                        <h4>Login</h4>
                        <form action="/home" type="POST">
                            <fieldset>
                                <div class="label-float">
                                    <input class="input-login" type="text" placeholder=" ">
                                    <label>E-mail</label>
                                </div>

                                <div class="label-float">
                                    <input class="input-login" type="password" placeholder=" ">
                                    <label>Senha</label>
                                </div>

                                <p align="left" style="margin-left: 11%">
                                    <input type="checkbox" name="manterlogado" id="manterlogado" value="">
                                    <label for="manterlogado">Manter-me logado</label>
                                </p>
                                <input type="submit" value="Entrar" class="btnLogin" style="margin-top: 0px">
                            </fieldset>
                        </form>
                    </div>
                </center>
            </div>
        </div>
    </div>

    <!-- Cadastro Modal -->
    <div id="id02" class="w3-modal">
        <div class="w3-modal-content" style="width: 75%; max-width: 450px; height:550px;">
            <div class="w3-container">
                <span onclick="document.getElementById('id02').style.display='none'"
                    class="w3-button w3-display-topright">&times;</span>
                <center>
                    <div style=" margin-top: 30px;">
                        <h4>Cadastro</h4>
                        <form action="home.html" type="POST">
                            <fieldset>
                                <div class="label-float">
                                    <input class="input-login" type="text" placeholder=" " required>
                                    <label>Nome</label>
                                </div>
                                <div class="label-float">
                                    <input class="input-login" type="text" placeholder=" " required>
                                    <label>Sobrenome</label>
                                </div>
                                <div class="label-float">
                                    <input class="input-login" type="text" placeholder=" " required>
                                    <label>E-mail</label>
                                </div>
                                <div class="label-float">
                                    <input class="input-login" type="password" placeholder=" " required>
                                    <label>Senha</label>
                                </div>
                                <div class="label-float">
                                    <input class="input-login" type="password" placeholder=" " required>
                                    <label>Repetir senha</label>
                                </div>
                                <p align="left" style="margin-left: 11%">
                                    <small>* Todos os campos são obrigatórios</small>
                                </p>
                                <input type="submit" value="Cadastrar" class="btnLogin" style="margin-top: 0px">
                            </fieldset>
                        </form>
                    </div>
                </center>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center align-items-center"><img src="imagens/logo_white.png"
                        height=40></div>
                <div class="col-6 d-flex justify-content-center align-items-center">Business Hawk &copy 2019 - Todos os
                    direitos reservados</div>
                <div class="col d-flex justify-content-center align-items-center"><a href="/about" style="
                    text-decoration: none;">
                        Sobre Nós</a></div>
            </div>
        </div>
        </div>
    </footer>
</body>

</html>