section {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  margin-top: 50px;
  text-align: center;
  padding-bottom: 30px;
  background-color: #e9e9e9;
}

#variavel, #dados {
  text-align: center;
}

#nominal, #ordinal {
  width: 100px;
  padding: 2% 5px;
  border: 1px solid gray;
  border-radius: 5px;
}

#cNominal, #cOrdinal {
  display: none;
}

#cNominal:checked+#nominal {
  border: 2px solid #2371b7;
}

#cOrdinal:checked+#ordinal {
  border: 2px solid #2371b7;
}

#cPopulacao, #cAmostra {
  display: none;
}

#amostra, #populacao {
  padding: 10px;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  width: 50%;
  height: 50px;
}

#cPopulacao:checked+#populacao {
  border: 2px solid #2371b7;
}

#cAmostra:checked+#amostra {
  border: 2px solid #2371b7;
}

form#campo {
  text-align: center;
}

header#cabecalho {
  border-bottom: 1px #606060 solid;
  height: 80px;
}

/* Formatação do Menu*/

nav#menu {
  display: block;
}

nav#menu ul {
  list-style: none;
  /*tira os marcadores */
  text-transform: uppercase;
  position: absolute;
  top: 0px;
  left: 1000px;
}

nav#menu li {
  display: inline-block;
  /* coloca os botões um ao lado do outro*/
  background-color: #dddddd;
  padding: 10px;
  margin: 2px;
  transition: background-color 1s;
}

nav#menu li:hover {
  background-color: #606060;
}

nav#menu h1 {
  display: none;
}

nav#menu a {
  color: #000000;
  text-decoration: none;
}

nav#menu a:hover {
  color: #ffffff;
  text-decoration: underline;
}

table {
  border-collapse: collapse;
}

td {
  border: 2px solid black;
}

#varios, #cElem {
  max-width: 150px;
}

#conteudoArquivo {
  border: double;
  overflow-y: scroll;
  height: 100px;
}

#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60%;
}

#sortable li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  font-size: 1.4em;
  height: 18px;
}

#sortable li span {
  position: absolute;
  margin-left: -1.3em;
}

#palco, #graficos, #qualitativa, #escolha {
  display: none;
}

#arrastar, #demo {
  display: inline;
}

#ent, #cElem, #varios, #adic {
  display: inline;
}

#down, #download {
  display: inline;
}

#download {
  display: none;
}

#palco {
  width: 100% !important;
  height: 100% !important;
}

input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 90%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 90%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 90%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  width: 90%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 90%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}

input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 90%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 90%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  width: 90%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 90%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}

input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

#columns {
  list-style-type: none;
}

.column {
  width: 162px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  cursor: move;
}

.column {
  height: 35px;
  width: 150px;
  color: black;
  background-color: #ccc;
  padding: 5px;
  border-bottom: 1px solid #ddd;
  border-radius: 3px;
  border: 2px solid #666666;
}

.column.over {
  border: 2px dashed #000;
  border-top: 2px solid blue;
}

legend {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.30) 0 -1.25px 0;
}

/*botão principal de realizar cálculos*/

.btnCalcular {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  background: #00589f;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.30) 0 -1.25px 0;
}

#btn-voltar {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 60%
}

/*tabela de resultados*/

#tabela {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tabela td, #tabela th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tabela tr:nth-child(even) {
  background-color: #f2f2f2;
}

#tabela tr:hover {
  background-color: #ddd;
}

#tabela th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #24305d;
  color: white;
}