<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="imagens/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Business Hawk - Home</title>
</head>

<body>
    <div class="conteudopagina">
        <header>
            <a href="/home"><img src="imagens/header.png" height=35></a>
            <a href="/" class="headbutton">Sair</a>
            <span style="float:right; margin-top:5px;margin-right: 10px">Olá, Paulo</span>
        </header>
        <div class="corpo">


            <!-- side panel -->
            <div class="sidenav">
                <ul>
                    <li><a href="/analise"><img src="imagens/estatistica.png" width=30></h2></a></li>
                    <li><a href="/probabilidade"><img src="imagens/probabilidade.png" width=25></h2></a></li>
                    <li><a href="/regressao"><img src="imagens/correlacao.png" width=30></h2></a></li>
                    <li><a href="/about"><img src="imagens/logo_white.png" width=30></a></li>
                </ul>
            </div>

            <center>
                <div class="welcome" style="top: 20px">
                    <h1>Bem vindo, Paulo!</h1>
                </div>
                <div class="container" style="top: 40px;">
                        <div class="box">
                            <div class="content">
                                <h2><img src="imagens/estatistica.png" width=100 id="icone"></h2>
                                <h3>Estatística Descritiva</h3>
                                <p>Análise de frequência para diferentes tipos de variável com resultados em gráficos</p>
                                <a href="/analise">Clique aqui</a>
                            </div>
                        </div>
                        <div class="box">
                            <div class="content">
                                <h2><img src="imagens/probabilidade.png" width=90 id="icone"></h2>
                                <h3>Probabilidade</h3>
                                <p>Calcule probabilidades usando distribuição normal, binomial e uniforme</p>
                                <a href="/probabilidade">Clique aqui</a>
                            </div>
                        </div>
                        <div class="box">
                            <div class="content">
                                <h2><img src="imagens/correlacao.png" width=85 id="icone"></h2>
                                <h3>Correlação e Regressão</h3>
                                <p>Estime relação entre duas variáveis e faça projeção para valores futuros</p>
                                <a href="/regressao">Clique aqui</a>
                            </div>
                        </div>
                </div>
            </center>
        </div>
        <footer>

            <div class="box"><img src="imagens/logo_white.png" height=40></div>
            <div class="box">Business Hawk &copy 2019 - Todos os direitos reservados</div>
            <div style="right: 10px"><a href="/about">Sobre Nós</a></div>

        </footer>
    </div>
</body>

</html>