<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <title>Business Hawk - Correlação e Regressão</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="imagens/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/estatistica.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>

<body>
    <div class="conteudopagina">
        <header>
            <a href="/home"><img src="imagens/header.png" height=35></a>
            <span id="tituloPagina">CORRELAÇÃO E REGRESSÃO</span>
            <!--Incluir div com nome do usuário e opção de sair-->
            <a href="/index" class="headbutton">Sair</a>
            <span style="float:right; margin-top:5px;margin-right: 10px">Olá, Paulo</span>
        </header>
        <div class="corpo">
            <!-- side panel -->
            <div class="sidenav">
                <ul>
                    <li><a href="/analise"><img src="imagens/estatistica.png" width=30></h2></a></li>
                    <li><a href="/probabilidade"><img src="imagens/probabilidade.png" width=25></h2></a></li>
                    <li><a href="/regressao"><img src="imagens/correlacao.png" width=30></h2></a></li>
                    <li><a href="/about"><img src="imagens/logo_white.png" width=30></a></li>
                </ul>
            </div>

            <center>
                <section style="padding-top:6%;width:60%">
                    <input type="text" id="cVetor1" placeholder="escreva os elementos"><br />
                    <input type="text" id="cVetor2" placeholder="escreva os elementos"><br />
                    <button id="calcular" type="button" class="btnCalcular">Calcular</button><br /><br />
                    <input type="text" id="idx" placeholder="escreva o valor de x"><br />
                    <input type="text" id="idy" placeholder="escreva o valor de y"><br />
                    <script src="js/correlacao.js"></script>
                </section>
            </center>
        </div>
        <footer>
            <div class="box"><img src="imagens/logo_white.png" height=40></div>
            <div class="box">Business Hawk &copy 2019 - Todos os direitos reservados</div>
            <div style="right: 10px"><a href="/about">Sobre Nós</a></div>
        </footer>
    </div>

    <!-- Página antiga-->

</body>

</html>