<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="imagens/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/estatistica.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <title>Business Hawk - Estatística Descritiva</title>
</head>

<body>
    <div class="conteudopagina">
        <header>
            <a href="/home"><img src="imagens/header.png" height=35></a>
            <span id="tituloPagina">ESTATÍSTICA DESCRITIVA</span>
            <!--Incluir div com nome do usuário e opção de sair-->
            <a href="/index" class="headbutton">Sair</a>
            <span style="float:right; margin-top:5px;margin-right: 10px">Olá, Paulo</span>
        </header>
        <div class="corpo">
            <!-- side panel -->
            <div class="sidenav">
                <ul>
                    <li><a href="/analise"><img src="imagens/estatistica.png" width=30></h2></a></li>
                    <li><a href="/probabilidade"><img src="imagens/probabilidade.png" width=25></h2></a></li>
                    <li><a href="/regressao"><img src="imagens/correlacao.png" width=30></h2></a></li>
                    <li><a href="/about"><img src="imagens/logo_white.png" width=30></a></li>
                </ul>
            </div>

            <center>
                <section style="padding-top:6%;width:60%">
                    <div id="campos" align=left>
                        <form id="form" name="formulario">
                            <fieldset id="variavel">
                                <legend>Especificações</legend>
                                <p><label for="cNome">Nome da variável: </label><input type="text" name="tNome"
                                        id="cNome" placeholder="Título da tabela"></p>
                                <input type="radio" name="tTipo" id="cPopulacao" value="populacao" /><label
                                    for="cPopulacao">População</label>
                                <input type="radio" name="tTipo" id="cAmostra" value="amostra" checked /><label
                                    for="cAmostra">Amostra</label>
                            </fieldset>
                            <br>
                            <fieldset id="dados" style="">
                                <legend>Entrada de Dados</legend>

                                <p>Por favor selecione arquivo que será lido ou entre com o valor manualmente:</p><br>
                                <div>
                                    <label for="cAutomatico"><img src="imagens/upload.png"
                                            style="vertical-align: middle; padding-right:20px"></label>
                                    <input type="file" name="tAutomatico" id="cAutomatico" />
                                </div>
                                <br>ou<br><br>
                                <p id="ent">Entre com varios elementos iguais :</p>
                                <input type="text" name="tElem" id="cElem" placeholder="elemento">
                                <input id="varios" type="number" name="quantity" placeholder="número de vezes" min="1">
                                <button id="adic" type="button" onclick="adicionar()">Adicionar</button><br /><br />
                                <p>Conteúdo do arquivo:</p>
                                <textarea name="tManual" id="conteudoArquivo"
                                    placeholder="coloque ; entre elementos ex: 1;2;3"></textarea></p><br />
                                <p id="down">Se quiser você pode fazer o download dos dados também:</p>
                                <button id="download" type="button" onclick="baixar()">Download</button><br /><br />


                                <big><strong style="padding-right:20px">Medidas Separatrizes:</strong></big>
                                <select id="escolhas" onchange="barraArrastar()" oninput="barraArrastar()">
                                    <option value="quartil">Quartil</option>
                                    <option value="quintil">Quintil</option>
                                    <option value="decil">Decil</option>
                                    <option value="porcentil">Porcentil</option>
                                </select>


                                <div id="divs">
                                    <div id="quartil">
                                        <p>Quartil :</p>
                                    </div>
                                    <div id="quintil">
                                        <p>Quintil :</p>
                                    </div>
                                    <div id="decil">
                                        <p>Decil :</p>
                                    </div>
                                    <div id="porcentil">
                                        <p>Porcentil :</p>
                                    </div>
                                </div>
                                <input onchange="barraArrastar()" oninput="barraArrastar()" type="range" id="arrastar"
                                    name="barra" value="100" min="0" max="100">
                                <p id="demo">100 %</p>
                            </fieldset>

                            <center>
                                <button type="button" onclick="valida()" id="idTotal" class="btnCalcular">Efetuar
                                    Cálculos</button>
                            </center>
                        </form>
                    </div>

                    <fieldset id="qualitativa">
                        <legend>Qualitativa</legend>
                        <label for="cNominal"><input type="radio" name="tQual" id="cNominal"
                                value="nominal" />Nominal</label>
                        <label for="cOrdinal"><input type="radio" name="tQual" id="cOrdinal" value="ordinal"
                                checked />Ordinal</label>
                    </fieldset>

                    <div id="palco">
                        <ul id="columns">
                        </ul>
                    </div>

                    <button type="button" onclick="verifica()" id="escolha">Confirmar</button>


                    <div id="graficos">
                        <table id="tabela">
                            <tr>
                                <th id="classes" class="coluna1">Classes</th>
                                <th id="titulo"></th>
                                <th>Frequencia Simples</th>
                                <th>Frequencia relativa</th>
                                <th>Frequencias Acumulada</th>
                                <th>Frequencias Acumulada Percentual</th>
                            </tr>
                        </table>

                        <h2 align=left>Resultados</h2>
                        <div id="calculo" align=left>
                            <button onclick="window.location.reload();" class="btnCalcular" style="    position: absolute;bottom: 10%;left: 50%;transform: translateX(-50%); width: 60%">Voltar</button>
                        </div>
                    </div>
                </section>
            </center>
        </div>
        <footer>
            <div class="box"><img src="imagens/logo_white.png" height=40></div>
            <div class="box">Business Hawk &copy 2019 - Todos os direitos reservados</div>
            <div style="right: 10px"><a href="/about">Sobre Nós</a></div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="js/estatistica.js"></script>
</body>

</html>