<!DOCTYPE html>
<html  lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <title>Business Hawk - Solução em BI</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="css/estatistica.css"/>
        <link rel="stylesheet" type="text/css" href="css/estilo.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    </head>
    <body>  
        <header>
            <h1>Business Hawk</h1>
            <h2>Beta Version</h2>
            <img src="imagens/logo.png" width=100>
        </header>
        <nav id="menu">
            <h1>Menu principal</h1>
            <ul>
                <li><a href="/pesquisa">Crie Formulários</a></li>     
                <li><a href="/estatistica">Estatistica Descritiva</a></li>
                <li><a href="/probabilidade">Probabilidade</a></li>
                <li><a href="/correlacao">Correlação e Regrassão</a></li>
            </ul>
        </nav>
        <section>
            <div id="campos">
                <form id="form" name="formulario">
                    <fieldset id="variavel"><legend>Especificações</legend>
                        <p><label for="cNome">Nome da variável:</label><input type="text"  name="tNome" id="cNome" placeholder="Título da tabela"></p><br/>
                        <input type="radio" name="tTipo" id="cPopulacao" value="populacao"/><label for="cPopulacao">População</label>
                        <input type="radio" name="tTipo" id="cAmostra" value="amostra" checked/><label for="cAmostra">Amostra</label>
                    </fieldset>

                    <fieldset id="dados"><legend>Entrada de Dados</legend>
                       
                        <p>Por favor selecione arquivo que será lido ou entre com o valor manualmente:<label for="cAutomatico"><img src="imagens/upload.png"></label><input type="file" name="tAutomatico" id="cAutomatico" /></p><br />                
                        <p id="ent">Entre com varios elementos iguais :</p>
                        <input type="text"  name="tElem" id="cElem" placeholder="elemento">
                        <input id="varios" type="number" name="quantity" placeholder="número de vezes" min="1">
                        <button id="adic" type="button" onclick="adicionar()">Adicionar</button><br/><br/>
                        <p>Conteúdo do arquivo:</p>
                        <textarea name="tManual" id="conteudoArquivo" placeholder="coloque ; entre elementos ex: 1;2;3" ></textarea></p><br/>
                        <p id="down">Se quiser você pode fazer o download dos dados também:</p>
                        <button id="download" type="button" onclick="baixar()">Download</button><br/><br/>
                        
                        
                        <select id="escolhas" onchange="barraArrastar()" oninput="barraArrastar()">
                            <option value="quartil">Quartil</option>
                            <option value="quintil">Quintil</option>
                            <option value="decil">Decil</option>
                            <option value="porcentil">Porcentil</option>
                        </select>
                          
                          <div id="divs">
                            <div id="quartil"><p>Quartil :</p></div>
                            <div id="quintil"><p>Quintil :</p></div>
                            <div id="decil"><p>Decil :</p></div>
                            <div id="porcentil"><p>Porcentil :</p></div>
                          </div>
                          <input onchange="barraArrastar()" oninput="barraArrastar()" type="range" id="arrastar" name="barra" value="100" min="0" max="100">
                          <p id="demo">100 %</p>
                    </fieldset><br/>

                    <button type="button" onclick="valida()" id="idTotal">Calcular</button>
                </form>
            </div>

            

            <fieldset id="qualitativa"><legend>Qualitativa</legend>
                <label for="cNominal"><input type="radio" name="tQual" id="cNominal" value="nominal" />Nominal</label>
                <label for="cOrdinal"><input type="radio" name="tQual" id="cOrdinal" value="ordinal" checked/>Ordinal</label>
            </fieldset>

            <div id="palco">
                <ul id="columns">
                </ul>
            </div>

            <button type="button" onclick="verifica()" id="escolha">Confirmar</button>
            

            <div id="graficos"> 
                <table id="tabela">
                    <tr>
                        <td id="classes" class="coluna1">Classes</td>
                        <td id="titulo"></td>
                        <td>Frequencia Simples</td>
                        <td>Frequencia relativa</td>
                        <td>Frequencias Acumulada</td>
                        <td>Frequencias Acumulada Percentual</td>
                    </tr>
                </table>

                <h2>Resultados</h2>
                <div id="calculo">

                </div>
                <div id="chart_div" style="width: 800px; height: 500px;"></div>
            </div>
        </section>

        <footer>


        </footer>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="js/estatistica.js"></script>
        <script type="text/javascript" src="js/graficos.js"></script>
    </body>
</html>