<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="imagens/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Business Hawk - Sobre</title>
</head>

<body>
    <div class="conteudopagina" style="width:100%">
        <header>
            <a href="/home"><img src="imagens/header.png" height=35></a>
            <a href="/" class="headbutton">Sair</a>
            <span style="float:right; margin-top:5px;margin-right: 10px">Olá, fulano</span>
        </header>
        <!-- Conteúdo da Página -->
        <div style="margin-top:46px;width:100%">
            <center>
                <div style="background: #18203f; width:100%; align-content: center; height:40%;">
                    <img src="imagens/logo.png" style="height:230px; margin-top:100px;padding-bottom:30px;">
                    <h1 style="color:white;">Business Hawk - Solução em BI</h1><br>
                </div>
            </center>

            <!-- Sobre o Grupo -->
            <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
                <h2 class="w3-wide">O Grupo</h2>
                <p class="w3-opacity"><i>Estudantes de ADS</i></p>
                <p class="w3-justify">Somos um grupo de estudantes da Fatec Franca - Thomaz Novelino, e na presente data (Junho/2019) estamos cursando
                    o terceiro semestre do curso de Análise e Desenvolvimento de Sistemas. Este software é o resultado dos
                    trabalhos das disciplinas de: Engenharia de Software II, Estatística Descritiva, Estrutura de Dados e
                    Interação Humano-Computador.
                </p>
                <center>
                    <div class="w3-row w3-padding-32" style="display:flex; justify-content: center">
                        <div class="w3-third">
                            <p>Érica Reis</p>
                            <img src="imagens/erica.jpg" class="w3-round" alt="Érica Reis" style="width:60%; border-radius:100px">
                        </div>
                        <div class="w3-third">
                            <p>Mateus Oliveira</p>
                            <img src="imagens/mateus.jpg" class="w3-round" alt="Mateus Oliveira" style="width:60%; border-radius:100px">
                        </div>
                    </div>
                    <div class="w3-row w3-padding-32" style="display:flex; justify-content: center">
                        <div class="w3-third">
                            <p>Paulo Matos</p>
                            <img src="imagens/paulo.jpg" class="w3-round" alt="Paulo Matos" style="width:60%; border-radius:100px">
                        </div>
                        <div class="w3-third">
                            <p>Vinicius Miranda</p>
                            <img src="imagens/vinicius.jpg" class="w3-round" alt="Vinicius Miranda" style="width:60%; border-radius:100px">
                        </div>
                    </div>
                </center>
            </div>

            <!-- Sobre o Software -->
            <div class="w3-black" id="tour">
                <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
                    <h2 class="w3-wide w3-center">O SOFTWARE</h2>
                    <p class="w3-opacity w3-center"><i>Business Hawk - Olhos de falcão para seus negócios</i></p><br>

                    <p class="w3-justify">
                        O Business Hawk foi criado com o intuito de auxiliar a gestão de empresas através de cálculos estatísticos. O BI - <i>Business Inteligence, ou Inteligência de Negócios</i>                        - é utilizado amplamente no mundo para auxiliar gestores a tomar decisões, com base sempre em dados.
                        Empresas que utilizam ferramentas de BI tem mais sucesso em suas decisões e prosperam. O Business
                        Hawk é uma ferramenta para alavancar suas vendas e dar suporte estatístico no crescimento de sua
                        empresa.
                    </p>

                    <!-- Funções do Software -->
                    <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
                        <div class="w3-third w3-margin-bottom">
                            <div class="w3-container w3-white">
                                <p><b>Estatística Descritiva</b></p>
                                <p class="w3-opacity">Fri 27 Nov 2016</p>
                                <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
                                <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Buy
                                    Tickets</button>
                            </div>
                        </div>
                        <div class="w3-third w3-margin-bottom">
                            <div class="w3-container w3-white">
                                <p><b>Probabilidade</b></p>
                                <p class="w3-opacity">Sat 28 Nov 2016</p>
                                <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
                                <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Buy
                                    Tickets</button>
                            </div>
                        </div>
                        <div class="w3-third w3-margin-bottom">
                            <div class="w3-container w3-white">
                                <p><b>Correlação e Regressão</b></p>
                                <p class="w3-opacity">Sun 29 Nov 2016</p>
                                <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
                                <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Buy
                                    Tickets</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Ticket Modal -->
            <div id="ticketModal" class="w3-modal">
                <div class="w3-modal-content w3-animate-top w3-card-4">
                    <header class="w3-container w3-teal w3-center w3-padding-32">
                        <span onclick="document.getElementById('ticketModal').style.display='none'" class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
                        <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>Tickets</h2>
                    </header>
                    <div class="w3-container">
                        <p><label><i class="fa fa-shopping-cart"></i> Tickets, $15 per person</label></p>
                        <input class="w3-input w3-border" type="text" placeholder="How many?">
                        <p><label><i class="fa fa-user"></i> Send To</label></p>
                        <input class="w3-input w3-border" type="text" placeholder="Enter email">
                        <button class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right">PAY <i
                                class="fa fa-check"></i></button>
                        <button class="w3-button w3-red w3-section" onclick="document.getElementById('ticketModal').style.display='none'">Close <i
                                class="fa fa-remove"></i></button>
                        <p class="w3-right">Need <a href="#" class="w3-text-blue">help?</a></p>
                    </div>
                </div>
            </div>

            <!-- The Contact Section -->
            <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
                <h2 class="w3-wide w3-center">CONTATO</h2>
                <p class="w3-opacity w3-center"><i>Dúvidas? Sugestões? Entre em contato</i></p>
                <div class="w3-row w3-padding-32">
                    <div class="w3-col m6 w3-large w3-margin-bottom">
                        <i class="fa fa-map-marker" style="width:30px"></i> Franca, SP<br>
                        <i class="fa fa-phone" style="width:30px"></i> Whatsapp: (16) 98135-5401<br>
                        <i class="fa fa-envelope" style="width:30px"> </i> Email: contato.businesshawk@gmail.com<br>
                    </div>
                    <div class="w3-col m6">
                        <form action="envia_fale.php" method="post" name="form">
                            <br> NOME:
                            <br>
                            <input name="nome"><br>
                            <br> EMAIL:
                            <br>
                            <input name="email"><br>
                            <br> ASSUNTO:
                            <br>
                            <input name="assunto"><br>
                            <br> MENSAGEM:
                            <br>
                            <input name="mensagem"><br>
                            <br><br>
                            <input type="submit" name="submit" value="Enviar"><br>
                        </form>
                        <form action="/action_page.php" target="_blank">
                            <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                                <div class="w3-half">
                                    <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
                                </div>
                                <div class="w3-half">
                                    <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
                                </div>
                            </div>
                            <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
                            <button class="w3-button w3-black w3-section w3-right" type="submit">SEND</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- End Page Content -->
        </div>

        <!-- side panel -->
        <div class="sidenav">
            <ul>
                <li><a href="/analise"><img src="imagens/estatistica.png" width=30></h2></a></li>
                <li><a href="#"><img src="imagens/probabilidade.png" width=25></h2></a></li>
                <li><a href="#"><img src="imagens/correlacao.png" width=30></h2></a></li>
                <li><a href="#"><img src="imagens/logo_white.png" width=30></a></li>
            </ul>
        </div>





        <footer>

            <div class="box"><img src="imagens/logo_white.png" height=40></div>
            <div class="box">Business Hawk &copy 2019 - Todos os direitos reservados</div>
            <div style="right: 10px"><a href="/About">Sobre Nós</a></div>

        </footer>
    </div>

</body>

</html>