<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="imagens/favicon.ico" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/about.css" />
    <title>Business Hawk - Sobre</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light justify-content-between header">
        <div class="navbar-brand">
            <a href="/home"><img src="imagens/header.png" height=35></a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation"
            onclick="toggleSidemenu()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <span class="BoasVindas" style="float:right; margin-top:5px;margin-right: 10px"></span>
            <a href="/" class="headbutton">Sair</a>
        </div>
    </nav>

    <div class="conteudopagina">
        <!-- Conteúdo da Página -->

        <!-- side panel -->
        <div class="sidenav" id="sidemenu">
            <ul>
                <li><a href="/analise"><img src="imagens/estatistica.png" width=30></h2></a></li>
                <li><a href="/probabilidade"><img src="imagens/probabilidade.png" width=25></h2></a></li>
                <li><a href="/regressao"><img src="imagens/correlacao.png" width=30></h2></a></li>
                <li><a href="/about"><img src="imagens/logo_white.png" width=30></a></li>
            </ul>
        </div>
        <div>
            <div class="fluid painel-01">
                <img src="imagens/logo.png" id="logo-grande">
                <h1>Business Hawk - Solução em BI</h1><br>
            </div>

            <!-- Sobre o Grupo -->
            <div class="w3-container w3-content w3-center w3-padding-64 painel-02" id="band">
                <h2 class="w3-wide">O Grupo</h2>
                <p class="w3-opacity"><i>Estudantes de ADS</i></p>
                <p class="w3-justify">Somos um grupo de estudantes da Fatec Franca - Thomaz Novelino, e na presente data
                    (Junho/2019) estamos cursando
                    o terceiro semestre do curso de Análise e Desenvolvimento de Sistemas. Este software é o resultado
                    dos
                    trabalhos das disciplinas de: Engenharia de Software II, Estatística Descritiva, Estrutura de Dados
                    e
                    Interação Humano-Computador.
                </p>
                <div class="membros">
                    <div class="w3-row w3-padding-32 membro-time">
                        <div class="w3-third">
                            <p>Érica Reis</p>
                            <img src="imagens/erica.jpg" class="w3-round img-avatar" alt="Érica Reis">
                        </div>
                        <div class="w3-third">
                            <p>Mateus Oliveira</p>
                            <img src="imagens/mateus.jpg" class="w3-round img-avatar" alt="Mateus Oliveira">
                        </div>
                    </div>
                    <div class="w3-row w3-padding-32 membro-time">
                        <div class="w3-third">
                            <p>Paulo Matos</p>
                            <img src="imagens/paulo.jpg" class="w3-round img-avatar" alt="Paulo Matos">
                        </div>
                        <div class="w3-third">
                            <p>Vinicius Miranda</p>
                            <img src="imagens/vinicius.jpg" class="w3-round img-avatar" alt="Vinicius Miranda">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sobre o Software -->
            <div class="w3-black" id="tour">
                <div class="w3-container w3-content w3-padding-64 painel-03">
                    <h2 class="w3-wide w3-center">O SOFTWARE</h2>
                    <p class="w3-opacity w3-center"><i>Business Hawk - Olhos de falcão para seus negócios</i></p><br>

                    <p class="w3-justify">
                        O Business Hawk foi criado com o intuito de auxiliar a gestão de empresas através de cálculos
                        estatísticos. O BI - <i>Business Inteligence, ou Inteligência de Negócios</i> - é utilizado
                        amplamente no mundo para auxiliar gestores a tomar decisões, com base sempre em dados.
                        Empresas que utilizam ferramentas de BI tem mais sucesso em suas decisões e prosperam. O
                        Business
                        Hawk é uma ferramenta para alavancar suas vendas e dar suporte estatístico no crescimento de sua
                        empresa.
                    </p>


                    <div class="w3-row-padding w3-padding-32 cards-funcoes">
                        <div class="w3-third w3-margin-bottom">
                            <div class="w3-container w3-white cards-about">
                                <h4><b>Estatística Descritiva</b></h4>
                                <p>Análise de frequência para diferentes tipos de variável com resultados em gráficos
                                </p>
                                <button class="w3-button w3-black w3-margin-bottom"
                                    onclick="window.location.href='/analise'">Clique Aqui</button>
                            </div>
                        </div>
                        <div class="w3-third w3-margin-bottom">
                            <div class="w3-container w3-white cards-about">
                                <h4><b>Probabilidade</b></h4>
                                <p>Calcule probabilidades usando distribuição normal, binomial e uniforme</p>
                                <button class="w3-button w3-black w3-margin-bottom"
                                    onclick="window.location.href='/probabilidade'">Clique Aqui</button>
                            </div>
                        </div>
                        <div class="w3-third w3-margin-bottom">
                            <div class="w3-container w3-white cards-about">
                                <h4><b>Correlação e Regressão</b></h4>
                                <p>Estime relação entre duas variáveis e faça projeção para valores futuros</p>
                                <button class="w3-button w3-black w3-margin-bottom"
                                    onclick="window.location.href='/regressao'">Clique Aqui</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container painel-contato">
                <div class="row">
                    <div class="col">
                        <h2 class="w3-wide w3-center">CONTATO</h2>
                        <p class="w3-opacity w3-center"><i>Dúvidas? Sugestões? Entre em contato</i></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 class="contato-info">
                            <i>Business Hawk</i> <br>
                            <i>Franca, SP - Brasil</i> <br>
                            <i>Fone: (16) 98135-5401</i> <br>
                        </h3>
                        <div class="text-center">
                            <i><b>contato.businesshawk@gmail.com</b></i>
                        </div>
                        <br>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <div class="contato-mapa">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3142.2572118795574!2d-47.40097455328102!3d-20.514643349684388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b0a650b93c4b5f%3A0xbe0e42f3aa42525c!2sFatec+Franca+-+Faculdade+de+Tecnologia+de+Franca+Dr+Thomaz+Novelino!5e0!3m2!1spt-BR!2sbr!4v1559221456689!5m2!1spt-BR!2sbr"
                                width="300" height="200" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <!-- End Page Content -->
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-2 d-flex justify-content-center align-items-center">
                        <img src="imagens/logo_white.png" height=40></div>
                    <div class="col-5 d-flex justify-content-center align-items-center">
                        Business Hawk &copy 2019 - Todos os direitos reservados</div>
                    <div class="col d-flex justify-content-center align-items-center link-sobre">
                        <a href="/about">Sobre Nós</a></div>
                    <div class="col d-flex justify-content-center align-items-center link-sobre">
                        <a href="https://businesshawk.drift.help/">Ajuda</a></div>
                </div>
            </div>
        </footer>
    </div>

    <script src="js/validacao.js"></script>
    <script src="js/about.js"></script>
    <script src="js/shared.js"></script>
</body>

</html>