<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Business Hawk - Sobre</title>
</head>

<body>
    <div class="conteudopagina" style="width:100%">
        <header>
            <a href="home.html"><img src="header.png" height=35></a>
            <a href="index.html" class="headbutton">Sair</a>
            <span style="float:right; margin-top:5px;margin-right: 10px">Olá, fulano</span>
        </header>
        <!-- Conteúdo da Página -->
        <div style="margin-top:46px;width:100%">

            <!-- Obrigado -->
            <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
                <h2 class="w3-wide">OBRIGADO!</h2>
                <p class="w3-opacity"><i>Agradecemos a sua mensagem</i></p>
                <p>
                    Entraremos em contato em breve. :)
                </p>
                <br><br>
                <p>
                    Utilize o menu lateral para retornar ou clique <a href="home.html">AQUI</a> para voltar para home.
                </p>

            </div>

            <!-- End Page Content -->
        </div>

        <!-- side panel -->
        <div class="sidenav">
            <ul>
                <li><a href="op-estatistica.html"><img src="estatistica.png" width=30></h2></a></li>
                <li><a href="#"><img src="probabilidade.png" width=25></h2></a></li>
                <li><a href="#"><img src="correlacao.png" width=30></h2></a></li>
                <li><a href="#"><img src="logo_white.png" width=30></a></li>
            </ul>
        </div>

        <footer style="position: absolute">

            <div class="box"><img src="logo_white.png" height=40></div>
            <div class="box">Business Hawk &copy 2019 - Todos os direitos reservados</div>
            <div style="right: 10px"><a href="about.html">Sobre Nós</a></div>

        </footer>
    </div>


</body>

</html>